# Core dependencies
torch==2.2.1
transformers==4.48.3
accelerate>=0.24.1
safetensors>=0.4.2
xformers>=0.0.24

# LLM specific
vllm>=0.3.3
langchain>=0.1.4
langchain_community>=0.0.13
bitsandbytes>=0.42.0
auto-gptq>=0.5.1 